# Pandas DataFrame from CSV

In this example we're going to read from a CSV file and load it into a Dataframe. We'll read from the local disk and Github (url).

In [33]:
import pandas as pd

### Reading from the Local Hard Drive

For the purpose of this example we're going to read a CSV stored locally. It's one folder up in the `Datasets` directory.

In [34]:
df = pd.read_csv('../Datasets/docker-stacks-commit-log.csv')

In [35]:
df.head()

,hash,author,date,description
0,015b0f8,Ayaz Salikhov,Tue Jul 6 10:01:12 2021 +0300,Merge pull request #1397 from jupyter/mathbunn...
1,d13be7a,Ayaz Salikhov,Tue Jul 6 09:59:00 2021 +0300,Update hadolint docker version
2,5956af0,Erik Sundell,Tue Jul 6 01:23:25 2021 +0200,Merge pull request #1396 from jupyter/pre-comm...
3,8eb98bc,pre-commit-ci[bot],Mon Jul 5 22:16:54 2021 +0000,[pre-commit.ci] pre-commit autoupdate
4,7999479,Ayaz Salikhov,Fri Jul 2 21:18:48 2021 +0300,Merge pull request #1395 from mathbunnyru/asal...

### Reading from Github (or any web location)

We're going to read in some data from the seaborn repo, which has example datasets. https://github.com/mwaskom/seaborn-data

In [36]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')

In [37]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino